<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style rel='stylesheet' type='text/css'>
    @font-face {
        font-family: "Siemreap";
        src: url({#asset KhmerOSSiemreapRegular.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: 'KantumruyPro-Regular';
        src: url({{asset "/asset/font/KantumruyPro-Regular.ttf" "dataURI"}});
        format('truetype');
    }
    @font-face {
        font-family: "KhmerOSMuol";
        src: url({#asset KhmerOSMuolLightRegular.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: "Roman";
        src: url({#asset times_new_roman.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: 'limons1l';
        src: url({#asset limons1l.ttf @encoding=dataURI});
        format('ttf');
    }
    @font-face{
        font-family: "Arial"
        src: url({#asset arial.ttf @encoding=dataURI})
        format('ttf');
    }
    .keep-together{
        page-break-inside:avoid;
    }
    .indent-negative-padding {
        padding-left: 0px;
    }

    body {
        font-size: 16px;
        font-family:"Roam", "KantumruyPro-Regular";
    }
    /* FONT */
    .font_muol {
        font-family: "Roman", "KhmerOSMuol";
    }
    .font_siemreap {
        font-family: "Roman", "Siemreap";
    }
    .font_arail{
        font-family:"Arial", "Siemreap";
    }
    .font_kantumruy_pro{
        font-family:"Roam", "KantumruyPro-Regular";
    }
    /* END FONT */

    /* FONT SIZE */
    .font-base {
        font-size: 18px;
    }
    
    .text-main {
        font-size: 14px;
    }
    .text-sm-base {
        font-size: 15px;
    }

    .text_xs_sm{
        font-size: 13px;
    }
    .text-xs {
        font-size: 11px;
    }
    /* END FONT SIZE */
    </style>

    <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="w-full h-full">
        <main class="w-full leading-7 relative">
        
            <div class="flex justify-between px-[60px]">
                <div class="font-base">
                    <img class="mx-auto w-[120px]" src="{{asset '../asset/images/POS - Web-04-01.png' 'dataURI'}}"/> <!-- Adjusting the image width to 100% of the container -->
                    <p class="font_kantumruy_pro pt-2 font-base text-[#0C7DA5]">ប្រព័ន្ធគ្រប់គ្រងការលក់</p>
                </div>

                <div class="text-sm-base">
                    <p class="text-center leading-7 font_muol text-[#0C7DA5]">ព្រះរាជាណាចក្រកម្ពុជា</p>
                    <p class="text-center leading-7 font_muol text-[#0C7DA5]">ជាតិ  សាសនា​​ ព្រះមហាក្សត្រ</p> 
                </div>
            </div>

            <div class="ml-[60px] mr-[60px] text-sm-base">

                <p class="font_kantumruy_pro text-center mb-2 font-base text-[#0C7DA5]">របាយការណ៏ការលក់</p>
        
                <table class="border border-gray">
                    <thead class="border border-gray text-main">
                        <tr class="">
                            <th class="border border-gray px-2 py-0.5 text-nowrap" colspan="2">កាលបរិច្ឆេទ:</th>
                            <th class="border border-gray px-2 py-0.5 text-nowrap" colspan="2">ប្រចាំថ្ងៃ:</th>
                            <th class="border border-gray px-2 py-0.5 text-nowrap" colspan="2">ពេលវេលា:</th>
                        </tr>
                        <tr class="bg-[#0C7DA5]">
                            <th class="border border-gray px-2 py-0.5 text-nowrap text-white">ល.រ</th>
                            <th class="border border-gray px-9 py-0.5 text-nowrap text-white">លេខវិក្កយបត្រ</th>
                            <th class="border border-gray px-9 py-0.5 text-nowrap text-white">សរុប</th>
                            <th class="border border-gray px-9 py-0.5 text-nowrap text-white">កាលបរិច្ឆេទ</th>
                            <th class="border border-gray px-9 py-0.5 text-nowrap text-white">ម៉ោង</th>
                            <th class="border border-gray px-9 py-0.5 text-nowrap text-white">អ្នកគិតប្រាក់</th>
                        </tr>
                    </thead>
                    <tbody class="border border-gray">
                        {{#each data}}
                            <tr>
                                <td class="border border-gray px-2 py-1 text-center">{{ countNumber @index}}</td>
                                <td class="border border-gray px-2 py-1 text-center">{{ receipt_number }}</td>
                                <td class="border border-gray px-2 py-1 text-center">{{ formatCurency total_price }}</td>
                                <td class="border border-gray px-2 py-1 text-center">{{ formatDate ordered_at }}</td>
                                <td class="border border-gray px-2 py-1 text-left">{{ formatTime ordered_at }}</td>
                                <td class="border border-gray px-2 py-1 text-left">{{ cashier.name }}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                    <tfoot class="break-inside-auto">
                        <tr>
                            <td class="border border-gray px-2"></td>
                            <td class="border border-gray px-2 py-1 font-semibold">តម្លៃសរុប</td>
                            <td class="border border-gray px-2 py-1 text-right font-semibold">2,000,000</td>
                            <td class="border border-gray px-2 py-1"></td>
                            <td class="border border-gray px-2 py-1"></td>
                            <td class="border border-gray px-2 py-1"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </main>
    </body>
</html>