  <!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style rel='stylesheet' type='text/css'>
    @font-face {
        font-family: "Siemreap";
        src: url({#asset KhmerOSSiemreapRegular.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: "KhmerOSMuol";
        src: url({#asset KhmerOSMuolLightRegular.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: "Roman";
        src: url({#asset times_new_roman.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: 'Tacteing';
        src: url({#asset Tacteing.ttf @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: 'limons1l';
        src: url({#asset limons1l.ttf @encoding=dataURI});
        format('ttf');
    }
    @font-face{
        font-family: "Arial"
        src: url({#asset arial.ttf @encoding=dataURI})
        format('ttf');
    }

    .indent-paragraph{
        text-indent: 75px;
    }
    
    .keep-together{
        page-break-inside:avoid;
    }
    .indent-negative-padding {
        padding-left: 0px;
    }

    body {
        font-size: 16px;
        font-family: "Roman", "Siemreap";
    }
    /* FONT */
    .font_muol {
        font-family: "Roman", "KhmerOSMuol";
    }
    .font_siemreap {
        font-family: "Roman", "Siemreap";
    }
    .font_tacteing {
        font-family: "Tacteing";
    }
    .font_arail{
        font-family:"Arial", "Siemreap";
    }
    /* END FONT */

    /* FONT SIZE */
    .font-base {
        font-size: 16px;
    }
    
    .text-main {
        font-size: 14px;
    }
    .text-sm-base {
        font-size: 16px;
    }

    .text_xs_sm{
        font-size: 13px;
    }
    .text-xs {
        font-size: 11px;
    }
    /* END FONT SIZE */

    /* BULLET POINT */
    .width-bullet-point{
        width: 25px;
    }
    .format, .format p{
        margin-top:8px;
        text-indent:75px;
    } 
    .format * {
        text-indent:0px;
    }
    .format>ol, .format>ul {
        padding-left: 75px;
    }
    .format ol, .format ul{
        margin-bottom: 8px;
    }

    /* unorder list */
    .format>ul{
        margin-left:25px;
    }
    .format>ul>li:before {
        position: absolute;
        margin-left: -25px;
        margin-top: -3px;
        content: "-";   
    } 
    .format ul ul{
        padding-left: 50px;
        list-style-type: circle;
         
    }
    .format ul ul ul{
        list-style-type: disc;
    }
    /* end ul */

    /* start ol */

    .format ol {
        counter-reset: section;           
        list-style-type: none;
        /* list-style-type: decimal; */
        color: black;
    }
    .format ol>li{
        margin-left: 25px;
    }
    .format ol>li ol>li{
        margin-left: 40px;
    }
    .format ol>li ol>li ol>li{
        margin-left: 60px;
    }
    .format ol>li ol>li ol>li ol>li{
        margin-left: 80px;
    }
    
    .format ol>li:before {
        font-family: "limons1l";
        font-size: 28px;
        position: absolute;
        margin-left: -25px;
        margin-top: -1px;
        counter-increment: section;         
        content: counters(section, ">") ">"; 
    } 
    .format ol>li ol>li:before {
        margin-left: -40px;
        
    }
    .format ol>li ol>li ol>li:before {
        margin-left: -60px;
        
    }
    .format ol>li ol>li ol>li ol>li:before {
        margin-left: -80px;   
    }
    /* end ol */
    
    .format ul>li {
        word-break: break-word;
    }


    /* END BULLET POINT */

    .draft_watermark {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-image: url("{#asset /asset/images/draft-km.png @encoding=dataURI}"); 
    }
    </style>


    <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="w-full h-full">
        <main class="leading-7 flex flex-col w-full">
            {{!-- <div class="flex flex-1 px-12 justify-between text-[#648558] relative">
                <div class="flex flex-col justify-items-center font_muol">
                    <img class="mx-auto w-[90px]" src="{{asset "/asset/images/CDC_logo_old_gold.png" "dataURI"}}">
                    <p class="text-center leading-7 font-base">រាជរដ្ឋាភិបាលកម្ពុជា</p>
                    <p class="text-center leading-6">ក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា</p>
                    <p class="text-center leading-6 font-bold">Council for the Development of Cambodia</p>
                    <p class="text-center leading-6 text-sm-base">គណៈកម្មាធិការវិនិយោគកម្ពុជា</p>
                    <p class="text-center leading-6 text-sm-base font-bold">Cambodian Investment Board</p>
                    <p class="text-center leading-6 text_xs_sm font_siemreap">លេខៈ {{ letter_number }}</p>
                </div>

                <div class="flex">
                    <div class="mt-9">
                        <div class="flex flex-col w-fix font_muol">
                            <p class="text-center leading-6 font-base">ព្រះរាជាណាចក្រកម្ពុជា</p>
                            <p class="text-center leading-6 font-base font-bold">Kingdom of Cambodia</p>
                            <p class="text-center leading-6 font-base">ជាតិ សាសនា ព្រះមហាក្សត្រ</p>
                            <p class="text-center leading-6 font-base font-bold italic">Nation- Religion- King</p>
                            <p class="text-center leading-6 text-main font_tacteing">ujv</p>
                        </div>
                    </div>
                </div>
                <div class="text-end mt-[75px] text_xs_sm font-normal absolute right-12 bottom-0">
                    <p class="text-end leading-6">{{{processTemplateString issue_date_lunar this}}} </p>
                    <p class="text-end leading-6">{{{processTemplateString capical_city_of_cambodia this}}}, {{{processTemplateString issue_date this}}} </p>
                </div>
            </div> --}}

            {{component "/components/header"}}


            <div class="ml-[80px] mr-[65px] text-sm-base mt-2">
                <div class="w-full leading-7">
                    <p class="text-center font_muol">សូមគោរពជូន</p>
                    <p class="text-center font_muol">ឯកឧត្ដមឧបនាយករដ្ឋមន្រ្តី អនុប្រធានទី១ ក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា</p>
                </div> 

                <div class="w-full leading-7 font_siemreap">
                    <div class="flex mt-2 ">
                        <div class="flex w-[75px]">
                            <p class="font_muol">តាមរយៈ</p>
                            <span>៖</span>
                        </div>
                        <div class="flex-1 text-left">
                            <p>ឯកឧត្តមអគ្គលេខាធិការគណៈកម្មាធិការវិនិយោគកម្ពុជា</p>
                        </div>
                    </div>

                    <div class="flex mt-2 ">
                        <div class="flex w-[75px]">
                            <p class="font_muol">កម្មវត្ថុ</p>
                            <span>៖</span>
                        </div>
                        <div class="flex-1 text-left">
                            <p>ករណីសំណើសុំចុះបញ្ជីគម្រោងវិនិយោគ{{investment_target_km}}</p>
                        </div>
                    </div>

                    <div class="flex mt-2 ">
                        <div class="flex w-[75px]">
                            <p class="font_muol">យោង</p>
                            <span>៖</span>
                        </div>
                        <div class="flex-1 text-left">
                            <p>ពាក្យសុំវិនិយោគលេខៈ {{project_number}} ដែលក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា “គណៈកម្មាធិការវិនិយោគកម្ពុជា” បានទទួលនៅ{{first_payment_datetime}}។</p>
                        </div>
                    </div>

                    
                    <p class="indent-paragraph text-justify mt-2">
                        សេចក្តីដូចមានចែងក្នុងកម្មវត្ថុ និងយោងខាងលើ ខ្ញុំបាទមានកិត្តិយស សូមគោរពជម្រាបជូន <span class="font_muol">ឯកឧត្តមឧបនាយករដ្ឋមន្ត្រី </span>មេត្តាជ្រាបថា៖ ក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា / គណៈកម្មាធិការវិនិយោគកម្ពុជា “ក.អ.ក./គ.វ.ក.” បានទទួលសំណើសុំចុះបញ្ជីគម្រោងវិនិយោគ {{investment_target_km}} ក្នុងគម្រោងទុនវិនិយោគសរុប ចំនួន {{total_investment_capital}} ដុល្លារអាម៉េរិក និងបង្កើតការងារប្រមាណ {{labor_demand_full_production_local}}កន្លែង នៅ{{investment_location_village.official_translate.km}} {{investment_location_commune.official_translate.km}} {{investment_location_district.official_translate.km}} {{investment_location_province.official_translate.km}} របស់ក្រុមហ៊ុន {{company_name_km}} ({{company_name_en}})។
                    </p>
                    <p class="indent-paragraph text-justify mt-2">
                        “ក.អ.ក./គ.វ.ក.” បានបង្កើតគណៈកម្មការអន្តរក្រសួង ស្ថាប័ន ចុះពិនិត្យដល់ទីតាំងជាក់ស្តែង នា{{check_datetime}} ដោយមានការចូលរួមពីគ្រប់តំណាងក្រសួង ស្ថាប័នពាក់ព័ន្ធ រួមទាំងអាជ្ញាធរដែនដីផងដែរ។ ជាលទ្ធផល គណៈកម្មការអន្តរក្រសួង ស្ថាប័ន បានគាំទ្រគម្រោងវិនិយោគនេះ។
                    </p>
                    <p class="indent-paragraph text-justify mt-2">
                        គម្រោងវិនិយោគនេះស្ថិតក្នុង ក្រុមសកម្មភាពវិនិយោគទី{{investment_target_group}} (ក្រុម{{investment_target_group}}) នៃឧបសម្ព័ន្ធទី២ ភ្ជាប់អនុក្រឹត្យលេខ ១៣៩ អនក្រ.បក. ចុះថ្ងៃទី២៦ ខែមិថុនា ឆ្នាំ២០២៣ ពោលគឺត្រូវទទួលបាននូវការលើកទឹកចិត្ត៖
                    </p>

                   
                    {{#each incentive_depreciations}}
                        <div style="{{checkTab tab_count}}">
                            <p class="indent-text-small mt-2">- {{data}}</p>
                        </div>
                    {{/each}}

                    {{#each incentive_income_taxes}}
                            <div style="{{checkTab tab_count}}">
                                <div class="flex">
                                    <div class="width-bullet-point">
                                        <p>-</p>
                                    </div>
                                    <div class="flex-1 text-left">
                                        <p class="indent-negative-padding">{{data}}</p>
                                    </div>
                                </div>
                            </div>
                    {{/each}}

                    
                    {{#each template_additional_incentive}}
                        <div style="{{checkTab 1}}">
                            <div class="flex">
                                <div class="width-bullet-point">
                                    <p>-</p>
                                </div>
                                <div class="flex-1 text-left">
                                    <p class="indent-negative-padding">{{translate.km}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}

                    <p class="font-bold mt-2">សូមគោរពជូនមតិ៖</p>
                    <p class="indent-paragraph text-justify mt-2">
                        {{{processTemplateString conslusion}}}
                    </p>

                    <p class="indent-paragraph text-justify mt-2">
                        សេចក្ដីដូចបានគោរពជម្រាបជូនខាងលើ សូម <span class="font_muol">ឯកឧត្តមឧបនាយករដ្ឋមន្ត្រី</span> មេត្តាពិនិត្យសម្រេចដោយក្តីអនុគ្រោះ។
                    </p>
                </div> 

                <div class="keep-together">
                    <p class="indent-paragraph mt-2">
                        សូម <span class="font_muol">ឯកឧត្តមឧបនាយករដ្ឋមន្ត្រី</span>  មេត្តាទទួលនូវការគោរពដ៏ខ្ពង់ខ្ពស់បំផុត ពីខ្ញុំបាទ។
                    </p>
                    <div class="w-full mt-2 relative"> 
                        <div class="flex w-full justify-between justify-items-start mt-5">
                            <div class="-mt-4">
                                {{#if qr_url}}
                                    {{#neq qr_value ""}}
                                        <a href="{{ qr_value }}" target="_blank">
                                            <img src="{{qr_url}}" class="w-14 h-14"/>
                                        </a>
                                    {{else}}
                                        <img src="{{qr_url}}" class="w-14 h-14"/>
                                    {{/neq}}
                                {{else}}
                                    <div class="w-14 h-14"></div>
                                {{/if}}
                            </div>
                            <div class="flex flex-col leading-6 items-center font_muol">
                                <p class="text-center">{{ signature_position }}</p>
                                <p class="text-center">{{ signature_org }}</p>
                                <p class="text-center">({{ signature_position_made_up }})</p>
                                <p class="text-center mt-16">{{ signature_name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Page break --}}
            <div style="page-break-after: always;"></div>

            {{!-- New Template 2 --}}
            {{!-- <div class="flex flex-1 px-12 justify-between relative">
                <div class="flex flex-1 justify-between mt-4">
                    <div class="flex flex-col justify-items-center mt-2">
                        <p class="text-center mt-1 font_muol">ក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា</p>
                        <p class="text-center mt-2 font_muol">គណៈកម្មាធិការវិនិយោគកម្ពុជា</p>
                        <p class="text-center mt-2 font-bold">នាយកដ្ឋានវិភាគគម្រោង និងការលើកទឹកចិត្ត</p>
                        <p class="text-center font_tacteing">ujv</p>
                    </div>

                    <div class="flex">
                        <div class="flex flex-col w-fix font_siemreap">
                            <p class="text-center font_muol">ព្រះរាជាណាចក្រកម្ពុជា</p>
                            <p class="text-center mt-2 font_muol">ជាតិ សាសនា ព្រះមហាក្សត្រ</p>
                            <p class="text-center leading-6 font_tacteing">ujv</p>
                        </div>
                    </div>

                    <div class="flex mt-9 text_xs_sm font_siemreap absolute right-12 bottom-0">
                        <div class="text-end mt-[55px]">
                            <p class="text-end leading-6">{{issue_date_lunar}}</p>
                            <p class="text-end leading-6">{{capical_city_of_cambodia}}, {{issue_date}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-[80px] mr-[65px] text-sm-base">
                <div class="w-full leading-7">
                    <p class="text-center text-base w-full font-bold">កំណត់បង្ហាញ</p>
                    <p class="font_muol">ក- ព័ត៌មានទូទៅ</p> 

                    <div class="">
                        <table class="">
                            <tr>
                                <th class="width-bullet-point"></th>
                                <th class="w-[110px]"></th>
                                <th class="width-bullet-point"></th>
                                <th class="w-[110px]"></th>
                                <th class=""></th>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p>-</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p>ឈ្មោះក្រុមហ៊ុន</p>
                                    </div>
                                </td>
                                 <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>{{company_name_km}} ({{company_name_en}})</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p>-</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p>គម្រោងវិនិយោគ</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>{{investment_target_km}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p>-</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p>ទីតាំង</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>&#9900;</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p>ការិយាល័យ</p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>{{contact_village.official_translate.km}} {{contact_commune.official_translate.km}} {{contact_district.official_translate.km}} {{contact_province.official_translate.km}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>&#9900;</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p>និយោគ</p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>{{investment_location_village.official_translate.km}} {{investment_location_commune.official_translate.km}} {{investment_location_district.official_translate.km}} {{investment_location_province.official_translate.km}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>&#9900;</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p>ឯកសារដី</p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>{{{processTemplateString land_doc}}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>&#9900;</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p>កិច្ចសន្យាជួល</p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>{{{processTemplateString contract_rent}}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p>-</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p>ទុន</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>&#9900;</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p>ចុះបញ្ជី</p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>{{register_capital}} ដុល្លារអាម៉េរិក</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>&#9900;</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p>វិនិយោគ</p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>{{total_investment_capital}} ដុល្លារអាម៉េរិក</p>
                                </td>
                            </tr>
                            <tr class="">
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                    </div>
                                </td>
                                 <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p></p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex">
                                        <div class="width-bullet-point">
                                            <p>&#8226;</p>
                                        </div>
                                        <div class="flex-1 text-left">
                                            <p class="text-nowrap">{{building_type}} ៖ “ទំហំ{{building_size}}ម<sup>២</sup>” ៖ {{building_cost}} ដុល្លារ</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr class="">
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                    </div>
                                </td>
                                 <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p></p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex">
                                        <div class="width-bullet-point">
                                            <p>&#8226;</p>
                                        </div>
                                        <div class="flex-1 text-left">
                                            <p>រៀបចំការដ្ឋាន   ៖ {{construction_cost}} ដុល្លារ</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr class="">
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                    </div>
                                </td>
                                 <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p></p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex">
                                        <div class="width-bullet-point">
                                            <p>&#8226;</p>
                                        </div>
                                        <div class="flex-1 text-left">
                                            <p>សម្ភារៈបរិក្ខារផលិតកម្ម   ៖ {{equipment_production_cost}} ដុល្លារ</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr class="">
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                    </div>
                                </td>
                                 <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p></p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex">
                                        <div class="width-bullet-point">
                                            <p>&#8226;</p>
                                        </div>
                                        <div class="flex text-left text-justify">
                                            <p>ការិយាល័យ</p>
                                            <p>៖ {{equipment_stationery_cost}} ដុល្លារ</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr class="">
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p></p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex">
                                        <div class="width-bullet-point">
                                            <p>&#8226;</p>
                                        </div>
                                        <div class="flex-1 text-left">
                                            <p>សម្ភារៈផ្សេងៗ   ៖ {{equipment_other_cost}} ដុល្លារ</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td class="align-text-top">
                                    <p>-</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p>ភាគហ៊ុន</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    {{#each share_holders}}
                                        <p>{{share_holder_salute.translate.km}} {{share_holder_fullname}} សញ្ញាតិ{{share_holder_nationality.nationality_translate.km}} មានភាគហ៊ុន {{share_holder_share_percent}}{{share_holder_share_unit.translate.km}}%</p>
                                    {{/each}}
                                </td>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p>-</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between text-nowrap">
                                        <p>វត្ថុធាតុដើម</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>{{{processTemplateString product_input}}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p>-</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between text-nowrap">
                                        <p>ផលិតផល</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>{{{processTemplateString product_output}}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p>-</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between text-nowrap">
                                        <p>សមត្ថភាពផលិតកម្ម</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>ឆ្នាំដំបូងចំនួន {{product_quantity_first_year}} {{product_output_unit}} និងពេលសមត្ថភាពចំនួន {{product_quantity_first_full_production}} {{product_output_unit}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-text-top">
                                    <p>-</p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between text-nowrap">
                                        <p>ទីផ្សារ</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p></p>
                                </td>
                                <td class="align-text-top">
                                    <div class="flex justify-between">
                                        <p></p>
                                        <p>៖</p>
                                    </div>
                                </td>
                                <td class="align-text-top">
                                    <p>{{{processTemplateString investment_output_market}}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <p class="font_muol mt-2">ខ- មតិតំណាងក្រសួង​​ ស្ថាប័នពាក់ព័ន្ធ (ពេលចុះពិនិត្យទីតាំងជាក់ស្តែង)</p>
                    {{#each commity_comments as |item index| }}
                        <div class="">
                            <p class="indent-paragraph text-justify mt-2">
                                <span class="font-bold">
                                    {{CharacterKhmer index}}- 
                                    {{item.user.salute.translate.km}} 
                                    {{item.user.lastname}} 
                                    {{item.user.firstname}} 
                                    {{item.user.positions.[0].position.translate.km}}
                                    {{item.user.positions.[0].position.department.translate.km}}
                                </span>
                            </p>
                            <div class="format">
                                {{{item.comment}}}
                            </div>
                        </div>
                    {{/each}}

                    <p class="font_muol mt-2">គ- មតិគណៈកម្មការអន្តរក្រសួង ស្ថាប័ន</p>
                    <div class="format">
                        {{{commity_comment}}}
                    </div>
                   
                    <div class="keep-together">
                        <p class="font_muol mt-2">ឃ- ឯកសារគតិយុត្ត</p>
                        <div class="format">
                            {{{legal_instrument}}}
                        </div>
                    </div>
                    
                    <div class="keep-together">
                        <p class="font_muol">ង- សូមគោរពជូនមតិ</p>
                        <div class="format">
                            {{{incentive_suggestion}}}
                        </div>
                    </div>

                    <p class="indent-paragraph mt-2 text-justify">
                        អាស្រ័យហេតុនេះ សូម <b>ឯកឧត្តម</b> មេត្តាពិនិត្យសម្រច និងផ្តល់ការណែនាំ ដោយក្តីអនុគ្រោះ។
                    </p>
    
                    <p class="indent-paragraph text-justify mt-2">
                        សូម <b>ឯកឧត្តម</b> មេត្តាទទួលនូវគារវកិច្ចដ៏ខ្ពង់ខ្ពស់ពីខ្ញុំបាទ។
                    </p>

                    <div class="flex w-full justify-between justify-items-start mt-1">
                        <div class="">
                            {{#if qr_url}}
                                {{#neq qr_value ""}}
                                        <a href="{{ qr_value }}" target="_blank">
                                            <img src="{{qr_url}}" class="w-14 h-14"/>
                                        </a>
                                {{else}}
                                    <img src="{{qr_url}}" class="w-14 h-14"/>
                                {{/neq}}
                            {{else}}
                                <div class="w-14 h-14"></div>
                            {{/if}}
                        </div>
                        <div class="flex justify-end items-center">
                            <div class="flex flex-col items-center">
                                <p class="text-center font-bold">{{document_preparer_position}}</p>
                                <p class="text-center font-bold">{{ document_preparer_org }}</p>
                                <p class="text-center font-bold mt-16">{{document_preparer_name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
        </main>
    </body>
</html>