<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @font-face {
        font-family: "Siemreap";
        src: url({#asset KhmerOSSiemreapRegular.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: "KhmerOSMuol";
        src: url({#asset KhmerOSMuolLightRegular.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: "Roman";
        src: url({#asset times_new_roman.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: 'Tacteing';
        src: url({#asset Tacteing.ttf @encoding=dataURI});
        format('ttf');
    }

    .indent-paragraph{
        text-indent: 68px;
    }

    .keep-together{
        page-break-inside:avoid;
    }

    body {
        font-size: 15px;
        font-family: "Roman", "Siemreap";
    }
    /* FONT */
    .font_muol {
        font-family: "Roman", "KhmerOSMuol";
    }
    .font_siemreap {
        font-family: "Roman", "Siemreap";
    }
    .font_tacteing {
        font-family: "Tacteing";
    }

    /* END FONT */

    * {
      box-sizing: border-box;
    }

    * {
      box-sizing: border-box;
    }

    html,
    body {
      margin: 0px;
      padding: 0px;
    }

    .main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
    }

    .header {
      width: 100%;
      padding-top: 20px;
      border-bottom: 1px solid black;
    }
  </style>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {{#each $pdf.pages}}
  {{#if @index}}
  <div style="page-break-before: always;"></div>
  {{/if}}
  <main class="main">
    <header></header>
    {{#if (isFirstOrSecondPage @index)}}
      <footer class="border-t border-[#648558] leading-5 pb-3 text-[12px] pt-1" style="font-family:Roman,Siemreap;">
          <div class="w-full grid grid-cols-2 text-[#648558] font_siemreap">
              <div class="text-left">វិមានរដ្ឋាភិបាល តីរវិថីព្រះស៊ីសុវត្ថិ វត្តភ្នំ ភ្នំពេញ ព្រះរាជាណាចក្រកម្ពុជា</br>ទូរស័ព្ទ: (៨៥៥) ២៣ ៧២៤ ៤៧៧ ទូរសារ: (៨៥៥) ២៣ ៩៨១ ២៥៧</div>
              <div class="flex-1 text-end font-[Roman]">Government Palace, Sisowath Quay, Wat Phnom, Phnom Penh, Cambodia. Tel: (855) 23 724 477, Fax: (855) 23 981 257</div>
          </div>
      </footer>
    {{else}}
      <footer class="w-full border-t border-black pb-6 text-[12px] pt-2">
        <div class="w-full flex justify-between">
          <p class="text-start italic pl-3">
            គម្រោងវិនិយោគ{{@root.investment_target_km}} របស់ក្រុមហ៊ុន {{@root.company_name_en}}
          </p>
          <p class="float-right">{{getPageNumber @index "km"}}/{{getTotalPages ../$pdf.pages}}</p>
        </div>
      </footer>
    {{/if}}
  </main>
  {{/each}}
</body>

</html>